.login-card {
  width: 470px;
  height: 620px;
  border: 2px solid #cb746439;
  border-radius: 5px;
  padding: 30px 45px;
}

.social-login {
  width: 377px;
  height: 42px;
  border: 1px solid #cb746439;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .login-card {
    width: 350px;
    height: 430px;
    padding: 25px;
  }
  .social-login {
    width: 287px;
    height: 38px;
  }
  input {
    padding: 6px 15px;
    font-size: 11px;
    margin-bottom: 8px;
    margin-top: 6px;
  }
}
