.signUp-card {
  width: 470px;
  height: 680px;
  border: 2px solid #cb746439;
  border-radius: 4px;
  padding: 30px 45px;
}

.social-signUp {
  width: 370px;
  height: 45px;
  border: 1px solid #cb746439;
  border-radius: 5px;
}

@media only screen and (max-width: 576px) {
  .signUp-card {
    width: 350px;
    padding: 25px;
    height: 590px;
  }
  .social-login {
    width: 287px;
    height: 38px;
  }
  input {
    padding: 8px 12px;
    font-size: 12px;
  }
}
